import React from 'react'

import { renderWithReduxRouter } from 'utils/tests/helpers'

import { screen } from '@testing-library/react'

import {{pascalCase name}} from './index'

describe('<{{pascalCase name}} />', () => {
  it('should render the heading', () => {
    const { container } = renderWithReduxRouter(<{{pascalCase name}} />)

    expect(screen.getByRole('heading', { name: /{{pascalCase name}}/i })).toBeInTheDocument()

    expect(container.firstChild).toMatchSnapshot()
  })
})
